### Step 0
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

In [175]:
import pandas as pd
Energy = pd.read_excel('Energy Indicators.xls',header=17, nrows = 227,na_values=["..."],
                       usecols=lambda x: 'Unnamed: 0' not in x and 'Unnamed: 1' not in x)
Energy.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
Energy.replace({"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"},inplace = True)
#to remove numbers in country name
Energy['Country'] = Energy['Country'].str.replace(r"[0-9]","")
#to remove parenthesis in country name
Energy['Country'] = Energy['Country'].str.replace(r" \(.*\)","")
Energy.head(50)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321.0,10.0,78.669280
1,Albania,102.0,35.0,100.000000
2,Algeria,1959.0,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.0,121.0,88.695650
5,Angola,642.0,27.0,70.909090
6,Anguilla,2.0,136.0,0.000000
7,Antigua and Barbuda,8.0,84.0,0.000000
8,Argentina,3378.0,79.0,24.064520
9,Armenia,143.0,48.0,28.236060
10,Aruba,12.0,120.0,14.870690
11,Australia,5386.0,231.0,11.810810
12,Austria,1391.0,164.0,72.452820
13,Azerbaijan,567.0,60.0,6.384345
14,Bahamas,45.0,118.0,0.000000
15,Bahrain,574.0,425.0,0.000000
16,Bangladesh,1625.0,10.0,1.966329
17,Barbados,19.0,69.0,0.000000
18,Belarus,1142.0,120.0,0.463389
19,Belgium,2338.0,210.0,9.959739
20,Belize,13.0,39.0,64.690030
21,Benin,170.0,16.0,0.000000
22,Bermuda,6.0,88.0,0.000000
23,Bhutan,63.0,83.0,100.000000
24,Bolivia,336.0,32.0,31.477120
25,"Bonaire, Sint Eustatius and Saba",5.0,213.0,0.000000
26,Bosnia and Herzegovina,266.0,70.0,41.464670
27,Botswana,86.0,39.0,0.131406
28,Brazil,12149.0,59.0,69.648030
29,British Virgin Islands,2.0,85.0,0.000000
30,Brunei Darussalam,127.0,310.0,0.045434
31,Bulgaria,703.0,97.0,17.234610
32,Burkina Faso,164.0,10.0,14.500680
33,Burundi,58.0,6.0,86.792450
34,Cabo Verde,7.0,15.0,21.227620
35,Cambodia,250.0,17.0,57.311590
36,Cameroon,307.0,14.0,70.886260
37,Canada,10431.0,296.0,61.945430
38,Cayman Islands,8.0,131.0,0.000000
39,Central African Republic,23.0,5.0,85.635360
40,Chad,77.0,6.0,0.000000
41,Chile,1613.0,92.0,28.006570
42,China,127191.0,93.0,19.754910
43,"China, Hong Kong Special Administrative Region",585.0,82.0,0.000000
44,"China, Macao Special Administrative Region",47.0,83.0,0.000000
45,Colombia,1513.0,32.0,63.002840
46,Comoros,5.0,7.0,11.627910
47,Congo,102.0,23.0,57.748870
48,Cook Islands,1.0,48.0,0.000000
49,Costa Rica,222.0,47.0,88.736420

### Step 1
<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

In [85]:
GDP = pd.read_csv('world_bank.csv',header=4 ,usecols=['Country Name','2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'])
GDP.rename(columns={'Country Name':'Country'},inplace=True)
GDP.replace({"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"})
GDP

,Country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

### Step 2
Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

In [44]:
ScimEn = pd.read_excel('scimagojr-3.xlsx')
ScimEn

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
...,...,...,...,...,...,...,...,...
186,187,Guyana,1,1,0,0,0.00,0
187,188,Christmas Island,1,1,0,0,0.00,0
188,189,Reunion,1,1,2,1,2.00,1
189,190,Saint Lucia,1,1,0,0,0.00,0
190,191,Mauritania,1,1,1,0,1.00,1

### Step 3
Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This step should yeild a DataFrame with 20 columns and 15 entries.*

In [120]:
Temp=pd.merge(Energy,GDP,on='Country')
Temp=pd.merge(Temp,ScimEn,on='Country')
DataFrame = Temp.sort_values(by=['Rank'], inplace = True)
DataFrame =Temp[:15]
DataFrame=DataFrame.set_index('Country', inplace=False)
DataFrame.columns=['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 
                   'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', 
                   '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
DataFrame

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,127191.0,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1,127050,126767,597237,411683,4.70,138
Japan,18984.0,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,3,30504,30287,223024,61554,7.31,134
Russian Federation,30709.0,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,5,18534,18301,34266,12422,1.85,57
Canada,10431.0,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,6,17899,17620,215003,40930,12.01,149
Germany,13261.0,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,7,17027,16831,140566,27426,8.26,126
India,33195.0,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,8,15005,14841,128763,37209,8.58,115
France,10597.0,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,9,13153,12973,130632,28601,9.93,114
Italy,6530.0,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,11,10964,10794,111850,26661,10.20,106
Spain,4923.0,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,12,9428,9330,123336,23964,13.08,115
Australia,5386.0,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,14,8831,8725,90765,15606,10.28,107
Brazil,12149.0,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,15,8668,8596,60702,14396,7.00,86
Turkey,4897.0,64.0,28.536690,6.680034e+11,6.991896e+11,7.037962e+11,6.698319e+11,7.311681e+11,7.953116e+11,8.122315e+11,8.462844e+11,8.718432e+11,9.065849e+11,17,5879,5827,91857,23165,15.62,104
Norway,1388.0,273.0,97.635580,4.190512e+11,4.313284e+11,4.329860e+11,4.259607e+11,4.285247e+11,4.326762e+11,4.445694e+11,4.490094e+11,4.589539e+11,4.662883e+11,18,5675,5634,32693,6024,5.76,74
Netherlands,3199.0,190.0,6.324659,8.127830e+11,8.428435e+11,8.571640e+11,8.248696e+11,8.364397e+11,8.503550e+11,8.413664e+11,8.371985e+11,8.456636e+11,8.624973e+11,19,5170,5105,48351,6067,9.35,85
Sweden,2044.0,212.0,46.598460,4.726099e+11,4.887020e+11,4.859797e+11,4.607834e+11,4.883793e+11,5.013917e+11,4.999562e+11,5.061616e+11,5.176362e+11,5.388264e+11,20,4565,4494,57889,9632,12.68,95

### Step 4
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This step should yield a single number.*

In [115]:
Temp=pd.merge(Energy,GDP,on='Country')
Temp=pd.merge(Temp,ScimEn,on='Country')
index = Temp.index
number_of_rows = len(index)
print(number_of_rows)

157

### Step 5

#### Answer the following questions in the context of only the top 15 countries by Scimagojr Rank 


What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This step should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [114]:

avgGDP = DataFrame[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']].mean(axis = 1).sort_values(ascending= False)
avgGDP

Country
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
Netherlands           8.411181e+11
Turkey                7.704245e+11
Sweden                4.960427e+11
Norway                4.389348e+11
dtype: float64

### Step  6
What is the mean `Energy Supply per Capita`?

*This step should return a single number.*

In [130]:
mean_Energy_Supply_per_Capita = DataFrame[['Energy Supply per Capita']].mean()
mean_Energy_Supply_per_Capita

Energy Supply per Capita    2.200382e+12
dtype: float64

### Step 7
What country has the maximum % Renewable and what is the percentage?

*This step should return a tuple with the name of the country and the percentage.*

In [166]:
percentage = DataFrame.sort_values(by='% Renewable',ascending = False)
percentage.iloc[0].name,percentage['% Renewable'][0]

('China', 7124977970399.61)

### Step 8
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This step should return a tuple with the name of the country and the ratio.*

In [158]:
total = DataFrame['Self-citations'].sum(axis=0,skipna=False)
DataFrame['Citations_ratio']=DataFrame['Self-citations']/total
DataFrame.sort_values(by='Self-citations',ascending = False,inplace = True)
DataFrame.iloc[0].name,DataFrame['Citations_ratio'][0]

('Japan', 0.18757821999816984)

### Step 9
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This step should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [190]:
renewable_median = DataFrame['% Renewable'].median()       
DataFrame['HighRenew']=DataFrame['% Renewable'].map(lambda x:1 if x>=renewable_median else 0)
DataFrame.sort_values(by='Rank',ascending = True)
DataFrame['HighRenew']

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     0
8     0
9     1
10    0
11    0
12    0
13    0
14    0
Name: HighRenew, dtype: int64

### Step 10
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [209]:
DataFrame['population']=DataFrame['Energy Supply']/DataFrame['Energy Supply per Capita']
ContinentDict = {'China':'Asia',
 'United States':'North America',
 'Japan':'Asia',
 'United Kingdom':'Europe',
 'Russian Federation':'Europe', 
 'Canada':'North America',
 'Germany':'Europe',
 'India':'Asia',
 'France':'Europe',
 'South Korea':'Asia',
 'Italy':'Europe',
 'Spain':'Europe',
 'Iran':'Asia',
 'Australia':'Australia',
 'Brazil':'South America'}
DataFrame.rename(index=ContinentDict,inplace=True)
columns = ['size', 'sum', 'mean', 'std']
FinalResult = DataFrame[['Country','population']].groupby('Country').agg(columns)
FinalResult

              population
                    size       sum      mean       std
Country
Asia                   3  2.855684  0.951895  0.047213
Australia              1  0.976757  0.976757       NaN
Europe                 5  4.907794  0.981559  0.021028
Netherlands            1  0.983636  0.983636       NaN
North America          1  0.969544  0.969544       NaN
Norway                 1  0.990405  0.990405       NaN
South America          1  0.962369  0.962369       NaN
Sweden                 1  0.974047  0.974047       NaN
Turkey                 1  0.919348  0.919348       NaN